SECRET_KEY="django-insecure-tgb$tld_9z460nx=zlt#(=$se8y*mmwgddb!5(5nei92t575xk"
DATABASE_URL="postgresql://neondb_owner:npg_Gr0IdPc8TOJA@ep-purple-base-az3lm9c1-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"
DEBUG=True