{% extends "base.html" %} {% block content %}
<h1 class="mt-4">{{title}}</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">
    {{title}} | Date: {{date|date:"F d, Y"}}
  </li>
</ol>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID STUDENT</th>
        <th scope="col">PREFIX NAME</th>
        <th scope="col">FIRST NAME</th>
        <th scope="col">LAST NAME</th>
      </tr>
    </thead>
  </thead>

  <tbody>
    {% for student in students %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ student.stu_id }}</td>
      <td>{{ student.get_prefix_name_display }}</td>
      <td>{{ student.fname }}</td>
      <td>{{ student.lname }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
